.communitydisplay-container {
    background-color:rgba(255, 255, 255, 0.6); 
    border: grey 1px solid;
    border-radius: 3px;
    padding: 3px;
}

.jimu-widget-communitydisplay .jimu-align-leading {
    cursor: pointer;
}

.jimu-widget-communitydisplay .communitydisplay-background{
  padding: 2px 5px 2px 5px;
  line-height: 20px;
  overflow: hidden;
}
.jimu-widget-communitydisplay .communitydisplay-foldable{
  center no-repeat;
  width: 10px;
  height: 20px;
}