.jimu-widget-demo div:first-child{
  /*color: red;*/
  font-weight: bold;
}

.jimu-widget-demo button{
  margin-bottom: 10px;
}

.exit_button {
	float: right;
	font-size: 15px;
	position: relative;
	top: -8px;
	left: 5px;
	text-decoration: none;
}

.exit_button:hover {
cursor: pointer;
}

.counter {
	font-size:13px; 
	float:right; 
	position:relative;
	top:5px
}

#tourDialog h1 {
	margin-top: 0;
	margin-bottom: 1em;
}

#tourDialog p {
	font-size: 14px;
}

#tourDialog ul {
	font-size: 14px;
}


.overlay {
	opacity:0.7; 
	background-color:#000; 
	position:fixed; 
	width:100%; 
	height:100%; 
	top:0px; 
	left:0px; 
	z-index:997
}

.overlay2 {
	opacity:0.1; 
	background-color:#000; 
	position:fixed; 
	width:100%; 
	height:100%; 
	top:0px; 
	left:0px; 
	z-index:999
}

#tourDialog .dijitTooltipConnector {
	display: none;
}

#tourDialog .dijitTooltipContainer {
	background: rgba(72, 85, 102, .8);
	color: white;
}
