.jimu-main-background{
  background-color: #002137;
  background: linear-gradient(#002137, #197ec0);
}

.TabTheme .jimu-widget-header .jimu-subtitle{
  color: white;
}
.TabTheme .jimu-widget-header .links .jimu-link{
  color: white;
}

.jimu-widget-sidebar-controller .title-list{
  background-color: #002137;
  background: linear-gradient(#197ec0, #002137);
}
.jimu-widget-sidebar-controller .max-pane,
.jimu-widget-sidebar-controller .tab-resizer,
.jimu-widget-sidebar-controller .min-pane,
.jimu-widget-sidebar-controller .other-group-pane{
  background-color: #002137;
  background: linear-gradient(#197ec0, #002137);
  border-style: none;
}
.jimu-widget-sidebar-controller .other-group-title{
  color: #fff;
}
.jimu-widget-sidebar-controller .other-group:hover{
  background-color: #2684c3;
}
.tab-widget-frame .title-label,
.jimu-widget-sidebar-controller .content-title{
  color: #002137;
}
.jimu-widget-sidebar-controller .other-group-pane-title .text{
  color: #fff;
}
.popup-links {
background-color: #34669a;
}
.popup-links .link-section {
  background-color: #34669a;
}
.jimu-preload-widget-icon-panel>.jimu-panel-title{
  color: #fff;
  background-color: #002137;
}

.jimu-on-screen-widget-panel>.jimu-panel-title{
  background-color: #002137;
  background: linear-gradient(#002137, #197ec0);
}

.tourDialog, .tourDialog2{
  width: 600px;
  overflow-y: hidden;
}

@media screen and (max-width: 965px) {
  .tourDialog, .tourDialog2{
    width: 100%;
    background: rgba(72, 85, 102, 1) !important;
  }
}