.widget-esearch {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 265px;
  min-height: 379px;
  margin-top: 3px;
}

.jimu-widget-attributetable-feature-table-footer{
    padding-top: 6px;
    padding-left: 3px;
}

.widget-esearch .required {
  color: red;
}

.jimu-widget-frame>.widget-esearch>.jimu-tab>.control {
  margin: -14px -14px 0 -14px;
}

.jimu-widget-frame>.widget-esearch>.jimu-tab>.jimu-viewstack,
.jimu-container>.widget-esearch>.jimu-tab>.jimu-viewstack {
  position: absolute !important;
  top: 45px !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  height: auto;
  margin-bottom: -14px;
}

.widget-esearch>.jimu-tab>.jimu-viewstack {
  position: absolute !important;
  top: 45px !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  height: auto;
  margin-bottom: -14px;
}

.widget-esearch .search-tab-node,
.widget-esearch .result-tab-node {
  position: absolute !important;
  width: 100% !important;
  height: auto !important;
  top: 0 !important;
  bottom: 0 !important;
}

.widget-esearch .search-tab-node-hidden {
  position: absolute !important;
  width: 100% !important;
  height: auto !important;
  top: 0 !important;
  bottom: 0 !important;
  display: none;
}

.widget-esearch .option-div {
  font-size: 14px;
  padding-left: 10px;
  height: 16px;
}

.widget-esearch .btn-grasearch {
  margin-left: auto;
  margin-right: auto;
  padding: 6px 12px;
  margin-top: -8px;
}

.widget-esearch .dijitArrowButtonContainer {
  width: 30px;
}

.widget-esearch .dijitSelect {
  height: 30px;
  width: 100%;
}

.widget-esearch .searchFeaturesIcon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  text-align: center;
  float: left;
  margin: 10px 11px 12px 11px;
}

.widget-esearch .searchFeaturesIcon:hover {
  background-color: #C0C0C0;
}

.widget-esearch .contain-icon {
  background-image: url("images/contain.png");
}

.widget-esearch .intersect-icon {
  background-image: url("images/intersect.png");
}

.widget-esearch .envintersects-icon {
  background-image: url("images/envintersects.png");
}

.widget-esearch .within-icon {
  background-image: url("images/within.png");
}

.widget-esearch .touches-icon {
  background-image: url("images/touches.png");
}

.widget-esearch .overlaps-icon {
  background-image: url("images/overlaps.png");
}

.widget-esearch .indexintersects-icon {
  background-image: url("images/index.png");
}

.widget-esearch .crosses-icon {
  background-image: url("images/crosses.png");
}

.widget-esearch .hcenter {
  margin-left: auto;
  width: 100%;
  height: 40px;
  margin-top: 8px;
}

.widget-esearch .spatial-items {
  display: table;
  margin: 0px auto;
  height: 40px;
}

.widget-esearch .spatial-items .spatial-item {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0 4px;
  float: left;
}

.widget-esearch .spatial-item.selected,
.widget-esearch .spatial-item:hover {
  background-color: #C0C0C0;
}

/*.widget-esearch .buffer-icon.disabled,
.widget-esearch .buffer-icon.disabled:hover {
  cursor: default;
  opacity: 0.5;
}*/

.widget-esearch .buffer-icon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  text-align: center;
  margin: 7px;
  background-image: url("images/buffer.png");
  cursor: pointer;
}

.widget-esearch .buffer-icon:hover {
  background-color: #C0C0C0;
}

.TabTheme .widget-esearch .jimu-tab>.control>.tab.jimu-state-selected {
  border-top: 0;
}

.search-valign-ele {
  line-height: 47px;
}


/*used for the controller List*/
.search-list-container,
.relate-list-container {
  min-width: 100%;
  height: 100%;
  vertical-align: middle;
  float: left;
  position: relative;
}

.relate-list-item {
  line-height: 40px;
  font-size: 12px;
  white-space: pre;
  position: relative;
  margin: 1px 0;
  border-radius: 8px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  cursor: pointer;
}

.search-list-item {
  line-height: 30px;
  font-size: 12px;
  white-space: pre;
  position: relative;
}

.result-wrap{
  white-space: pre-wrap;
}

.search-list-item .label,
.relate-list-item .label {
  padding-left: 40px;
  padding-right: 10px;
  padding-bottom: 3px;
  cursor: default;
}

.search-list-item ._title,
.relate-list-item ._title{
  padding-left: 40px;
  padding-right: 10px;
  padding-bottom: 3px;
  margin-right: 22px;
  cursor:default;
  font-weight: bolder;
}

.relate-list-item ._title {}
  cursor:pointer;
}

.search-list-item .labellink {
  padding-left: 40px;
  padding-right: 10px;
  padding-bottom: 3px;
  cursor: pointer;
  outline: none;
}

.search-list-item .iconDiv,
.relate-list-item .iconDiv {
  text-align: center;
  position: absolute;
  height: 100%;
  left: 0;
}

.relate-list-item .iconDiv {
  left: 5px;
  top: 2px;
}

.search-list-item .linksdiv {
  text-align: center;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.search-list-item .linkIcon {
  display: inline-block;
  padding-right: 4px;
}

.search-list-item .iconDiv:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

.search-list-item .iconDiv svg {
  display: inline-block;
  vertical-align: middle;
}

.search-list-item.alt {
  background-color: #ebebeb;
}

.search-list-item.selected {
  background-color: #d9dde0;
}

.search-list-item.selected.alt {
  background-color: #d9dde0;
}

.search-list-item:hover,
.relate-list-item:hover  {
  background-color: #dcdcdc;
}

.search-list-item.alt:hover {
  background-color: #dcdcdc;
}

.search-list-item.selected:hover {
  background-color: #d9dde0;
}

.search-list-item.selected.alt:hover {
  background-color: #d9dde0;
}

.widget-esearch .esearch-list {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  top: 25px;
  bottom: 10px;
  overflow-x: auto;
  overflow-y: auto;
}

.widget-esearch .esearch-noResults {
  /*z-index: 3;*/
  position: absolute;
  width: 100%;
}

.widget-esearch .esearch-list.sum {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  top: 25px;
  bottom: 24px;
  overflow-x: auto;
  overflow-y: auto;
}

.widget-esearch .esearch-sum {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.widget-esearch .select-layer-spatial,
.widget-esearch .label-layer-spatial {
  width: 96%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.widget-esearch .esearch-select,
.widget-esearch .esearch-label,
.widget-esearch .esearch-select-attrib,
.widget-esearch .esearch-select-graphic {
  width: 83%;
  margin-top: 10px;
  margin-right: 3px;
}

.widget-esearch .hidden {
  display: none;
}

.widget-esearch .button-clear-graphical {
  float: right;
  margin-right: 10px;
  padding-bottom: 8px;
}

.widget-esearch .search-params .params-container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 40px;
  bottom: 0;
  overflow-y: auto;
}

.widget-esearch .search-params table.current-view {
  width: auto;
  border-collapse: collapse;
  margin-top: 10px;
}

.widget-esearch .query-search table.current-view td {
  vertical-align: top;
  text-align: left;
}

.widget-esearch .search-params table.current-view .map-extent-tip {
  padding-left: 8px;
}


/* css for widget-esearch-single-parameter */
.widget-esearch-single-parameter .dijit-form-Select>tbody>tr>td {
  height: 23px;
}

.widget-esearch-single-parameter .dijit-form-Select>tbody>tr>td>.dijitButtonText {
  height: 20px;
  height: 20px !important;
}

.widget-esearch-single-parameter .dijit-form-FilteringSelect {
  display: none;
  width: 100%;
  height: 25px;
}

.widget-esearch-single-parameter .dijit-form-FilteringSelect>div.dijitArrowButton.dijitDownArrowButton {
  width: 20px;
  height: 100%;
}

.widget-esearch-single-parameter .dijit-form-FilteringSelect>div.dijitArrowButton.dijitDownArrowButton>input {
  padding: 0;
  border: 0;
  display: inline-block;
  height: 100%;
  height: 100% !important;
}

.widget-esearch-single-parameter .dijit-form-FilteringSelect>div.dijitInputField>input.dijitInputInner {
  height: 20px;
}

.widget-esearch-single-parameter .dijit-form-ValidationTextBox>div.dijitInputField>input.dijitInputInner {
  margin: 0;
  padding: 0;
  height: 100%;
  height: 100% !important;
}

.widget-esearch-single-parameter .dijit-form-NumberTextBox>div.dijitInputField>input.dijitInputInner {
  margin: 0;
  padding: 0;
  height: 100%;
  padding: 0 !important;
  height: 100% !important;
}

.widget-esearch-single-parameter .dijit-form-DateTextBox>.dijitRight {
  width: 17px;
  width: 17px !important;
}

.widget-esearch-single-parameter .dijit-form-DateTextBox>div.dijitInputField>input.dijitInputInner {
  margin: 0;
  padding: 0;
  height: 100%;
  padding: 0 !important;
  height: 100% !important;
}

.widget-esearch-single-parameter .dijitSelectLabel.dijitValidationTextBoxLabel {
  width: 52px;
  max-width: 52px;
  overflow: hidden;
  max-width: 52px !important;
  overflow: hidden !important;
}

.widget-esearch-single-parameter .prompt {
  font-size: 12px;
  color: #686868;
}

.widget-esearch-single-parameter .uniqueMessage {
  font-size: 12px;
  color: #686868;
  line-height: 16px;
  float: left;
}

.widget-esearch-single-parameter .cancelUnique {
  cursor: pointer;
  display: inline-block;
  padding: 0 4px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  background: none repeat scroll 0% 0% #cccccc;
  vertical-align: middle;
  color: #000;
  border-radius: 5px;
  width: 40px;
  height: 16px;
  margin-left: 8px;
  margin-bottom: 3px;
}

.widget-esearch-single-parameter .cancelUnique:hover {
  background: none repeat scroll 0% 0% #acacac;
}

.widget-esearch-single-parameter .uniqueBusy {
  width: 16px;
  height: 16px;
  background-image: url(images/validating.gif);
  float: left;
  margin-right: 7px;
}

.DartTheme .widget-esearch-single-parameter .uniqueBusy {
  width: 16px;
  height: 16px;
  background-image: url(images/validating2.gif);
  float: left;
  margin-right: 7px;
}

.widget-esearch-single-parameter .hint {
  font-style: italic;
  font-size: 12px;
  color: #8996a0;
  margin-top: 5px;
}

.widget-esearch .search-btn {
  cursor: pointer;
  min-width: 70px;
  display: inline-block;
  padding: 12px;
  font-size: 15px;
  text-align: center;
  /*background: none repeat scroll 0% 0% #528CC9;*/
  vertical-align: middle;
  color: #FFF;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/*Handle custom themes*/
.widget-esearch .search-btn {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 1);
}

.widget-esearch .search-btn:hover {
  background-color: rgb(0, 0, 0);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(0, 0, 0, 0.7);
}

.widget-esearch .TabTheme .search-btn,
.TabTheme .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme .esriPopup .titlePane {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 1);
}

.widget-esearch .TabTheme .search-btn:hover,
.TabTheme .jimu-draw-box .draw-item:hover {
  background-color: rgb(0, 0, 0);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(0, 0, 0, 0.7);
}


.widget-esearch .TabTheme.default .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.default .search-btn,
.TabTheme.default .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme.default .esriPopup .titlePane {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 1);
}

.widget-esearch
.TabTheme.default .search-btn:hover,
.TabTheme.default .jimu-draw-box .draw-item:hover{
  background-color: rgb(0, 0, 0);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(0, 0, 0, 0.7);
}

.widget-esearch
.TabTheme.cyan .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.cyan .search-btn,
.TabTheme.cyan .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme.cyan .esriPopup .titlePane {
  background-color: rgb(42, 170, 138);
  background-color: rgba(42, 170, 138, 1);
}

.widget-esearch
.TabTheme.cyan .search-btn:hover,
.TabTheme.cyan .jimu-draw-box .draw-item:hover {
  background-color: rga(42, 170, 138);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(42, 170, 138, 0.7);
}

.widget-esearch
.TabTheme.green .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.green .search-btn,
.TabTheme.green .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme.green .esriPopup .titlePane {
  background-color: rgb(5, 171, 8);
  background-color: rgba(5, 171, 8, 1);
}

.TabTheme.green .search-btn:hover,
.TabTheme.green .jimu-draw-box .draw-item:hover {
  background-color: rgb(5, 171, 8);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(5, 171, 8, 0.7);
}

.widget-esearch
.TabTheme.simpleblue .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.simpleblue .search-btn,
.TabTheme.simpleblue .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme.simpleblue .esriPopup .titlePane {
  background-color: rgb(52, 152, 219);
  background-color: rgba(52, 152, 219, 1);
}

.widget-esearch
.TabTheme.simpleblue .search-btn:hover,
.TabTheme.simpleblue .jimu-draw-box .draw-item:hover {
  background-color: rgb(52, 152, 219);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(52, 152, 219, 0.7);
}

.widget-esearch
.TabTheme.red .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.red .search-btn,
.TabTheme.red .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme.red .esriPopup .titlePane {
  background-color: rgb(201, 46, 73);
  background-color: rgba(201, 46, 73, 1);
}

.widget-esearch
.TabTheme.red .jimu-draw-box .draw-item:hover{
  background-color: rgb(201, 46, 73);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(201, 46, 73, 0.7);
}

.widget-esearch
.TabTheme.yellow .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.yellow .search-btn,
.TabTheme.yellow .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme.yellow .esriPopup .titlePane {
  background-color: rgb(208, 125, 14);
  background-color: rgba(208, 125, 14, 1);
}

.widget-esearch
.TabTheme.yellow .search-btn:hover,
.TabTheme.yellow .jimu-draw-box .draw-item:hover{
  background-color: rgb(208, 125, 14);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(208, 125, 14, 0.7);
}

.widget-esearch
.TabTheme.blue .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.blue .search-btn,
.TabTheme.blue .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme.blue .esriPopup .titlePane {
  background-color: rgb(0, 95, 162);
  background-color: rgba(0, 95, 162, 1);
}

.widget-esearch
.TabTheme.blue .search-btn:hover,
.TabTheme.blue .jimu-draw-box .draw-item:hover{
  background-color: rgb(0, 95, 162);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(0, 95, 162, 0.7);
}

.widget-esearch
.TabTheme.purple .jimu-on-screen-widget-panel > .jimu-panel-title,
.TabTheme.purple .search-btn,
.TabTheme.purple .jimu-draw-box .draw-item.jimu-state-active,
.TabTheme.purple .esriPopup .titlePane {
  background-color: rgb(171, 109, 174);
  background-color: rgba(171, 109, 174, 1);
}

.widget-esearch
.TabTheme.purple .search-btn:hover,
.TabTheme.purple .jimu-draw-box .draw-item:hover {
  background-color: rgb(171, 109, 174);
  -ms-filter: "Alpha(opacity=70)";
  background-color: rgba(171, 109, 174, 0.7);
}

.widget-esearch
.jimu-draw-box .point-icon.jimu-state-active:before,
.PlateauTheme .jimu-draw-box .point-icon:hover {
  color: white;
}

.widget-esearch
.jimu-draw-box .line-icon.jimu-state-active:before,
.PlateauTheme .jimu-draw-box .line-icon:hover {
  color: white;
}

.widget-esearch
.jimu-draw-box .polyline-icon.jimu-state-active:before,
.PlateauTheme .jimu-draw-box .polyline-icon:hover {
  color: white;
}

.widget-esearch
.jimu-draw-box .freehand-polyline-icon.jimu-state-active:before,
.PlateauTheme .jimu-draw-box .freehand-polyline-icon:hover {
  color: white;
}

.widget-esearch
.jimu-draw-box .triangle-icon.jimu-state-active:before,
.PlateauTheme .jimu-draw-box .triangle-icon:hover {
  color: white;
}

.widget-esearch
.jimu-draw-box .extent-icon.jimu-state-active:before,
.PlateauTheme .jimu-draw-box .extent-icon:hover {
  color: white;
}

.widget-esearch
.jimu-draw-box .circle-icon.jimu-state-active:before,
.PlateauTheme .jimu-draw-box .circle-icon:hover {
  color: white;
}

.widget-esearch
.jimu-draw-box .ellipse-icon.jimu-state-active:before,
.PlateauTheme .jimu-draw-box .ellipse-icon:hover {
  color: white;
}

.widget-esearch
.jimu-draw-box .polygon-icon.jimu-state-active:before,
.PlateauTheme .jimu-draw-box .polygon-icon:hover {
  color: white;
}
.widget-esearch
.jimu-draw-box .freehand-polygon-icon.jimu-state-active:before,
.PlateauTheme .jimu-draw-box .freehand-polygon-icon:hover {
  color: white;
}

#widgets_HUC12Nav_panel {
  height:509px!important;
}
#recomputeAggregate {
    padding: 2px 2px;
    display: inline-block;
    float: right;
    margin-top: -10px;
    margin-bottom: 8px;
    margin-right: 15px;
}

.widget-esearch .jimu-tab>.control>.tab {

    font-size: 12px;

    padding-left: 5px;
    padding-right: 5px;

}
.widget-esearch .btn, .btn-primary, .btn:hover {
    color: #626250;
}
.widget-esearch .btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.widget-esearch .btn {
    display: inline-block;
    /*padding: 6px 12px;*/
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    /*line-height: 1.42857143;*/
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.widget-esearch [role="button"] {
    cursor: pointer;
}
.widget-esearch .btn-primary {
    background-color: #66c5e4;
    border-color: #66c5e4;
}
.widget-esearch a {
    color: #337ab7;
    text-decoration: none;
}
.widget-esearch a {
    background-color: transparent;
}

.widget-esearch div.dijitArrowButton {
  float: right;
  height: 100%;
}

.widget-esearch .dijitValidationTextBoxError input.dijitValidationInner,
.dijitSelect input,
.dijitTextBox input.dijitArrowButtonInner {
  text-indent: -2em !important;
  direction: ltr !important;
  text-align: left !important;
  height: 100% !important;
}

.widget-esearch .jimu-draw-box .draw-item:hover {
	/*background-color: unset;*/
}

.widget-esearch .jimu-draw-box .draw-item.selected {
  background-color: #C0C0C0;
}

.widget-esearch .jimu-checkbox .label {
  font-size: 12px;
  margin: auto 5px;
  cursor: default;
  margin-top: 3px;
}


/*Fixes for Tab container text overflow in the DartTheme*/
.widget-esearch .jimu-widget > .jimu-tab > .control > .tab.jimu-vcenter-text {
  overflow-x: hidden;
  line-height: 28px !important;
}

.widget-esearch .jimu-draw-box .elocate-icon {
  background-image: url(images/draw_elocate1.png);
}

.widget-esearch .jimu-draw-box .elocate-icon.jimu-state-active {
  background-image: url(images/draw_elocate.png);
}

.widget-esearch .newSelIcon {
  background-image: url('images/selection_new.png');
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.widget-esearch .addSelIcon {
  background-image: url('images/selection_add.png');
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.widget-esearch .removeSelIcon {
  background-image: url('images/selection_remove.png');
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.widget-esearch .selectionmenu {
  margin: 10px 0 0;
}

.widget-esearch .selectionmenu > .dijitReset.dijitInline.dijitButtonNode {
  background-image: unset;
  border-radius: unset;
  background-color: #EFEFF0;
  padding: 6px 4px 6px;
  border: 1px solid #B5BCC7;
  box-shadow: unset;
}

.LaunchpadTheme .widget-esearch .esearch-select,
.LaunchpadTheme .widget-esearch .esearch-label,
.LaunchpadTheme .widget-esearch .esearch-select-attrib,
.LaunchpadTheme .widget-esearch .esearch-select-graphic {
  width: 75%;
}

.DartTheme .widget-esearch .esearch-select,
.BoxTheme .widget-esearch .esearch-select,
.BoxTheme .widget-esearch .esearch-label,
.BoxTheme .widget-esearch .esearch-select-attrib,
.BoxTheme .widget-esearch .esearch-select-graphic,
.DartTheme .widget-esearch .esearch-label,
.DartTheme .widget-esearch .esearch-select-attrib,
.DartTheme .widget-esearch .esearch-select-graphic {
  width: 80%;
}

.widget-esearch .LaunchpadTheme .selectionmenu > .dijitReset.dijitInline.dijitButtonNode {
  background-image: unset;
  border-radius: unset;
  background-color: unset;
  padding: 5px 0 4px 0;
  border: 1px solid #DDD;
  box-shadow: unset;
}

.widget-esearch .DartTheme .selectionmenu > .dijitReset.dijitInline.dijitButtonNode {
  background-image: unset;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 6px 4px;
  border: 1px solid rgba(181, 188, 199, 0.86) !important;
  box-shadow: unset;
}

.widget-esearch .claro .DartTheme .dijitDateTextBox .dijitArrowButton::before {
  content: none !important;
}

.widget-esearch .claro .DartTheme .dijitSelect .dijitArrowButtonInner,
.claro .DartTheme .dijitComboBox .dijitArrowButtonInner {
  display: none
}

.widget-esearch .search-list-item .removediv:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

.widget-esearch .search-list-item .removediv svg {
  display: inline-block;
  vertical-align: middle;
}

.widget-esearch .search-list-item .removediv {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 22px;
  right: 0;
}

.widget-esearch .search-list-item .removedivImg {
  display: inline-block;
  vertical-align: middle;
  background-image: url("images/i_remove_info.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.widget-esearch .esearch-result-action-button{
  position: absolute;
  top: -10px;
  right: -8px;
}

.jimu-rtl .widget-esearch .esearch-result-action-button{
  right: auto;
  left: -8px;
}

.widget-esearch .popup-menu .popup-menu-item .label {
  display: block;
}
.widget-esearch html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.widget-esearch pre img {
	width: 50px;
	height: 50px;
}

.widget-esearch h3 {
	margin: 0 0 5px 0;
	border-bottom: 1px solid #444;
}

.widget-esearch #map {
	margin: 0;
	padding: 0;
}

.widget-esearch .dojoxFloatingPaneCanvas {
    width: 383px !important;
}

.widget-esearch .dojoxGridScrollbox {
    overflow-x: hidden;
}

.widget-esearch .dijitTitlePane {
    width: 383px;
}

.widget-esearch .label {
	display: inline-block;
	width: 140px;
}

.widget-esearch .grid {
	width: 100%;
	height: 200px;
}
.widget-esearch .results {
	/*width: 100%;*/
	/*height: 200px;*/
}

/*.tundra .dijitTab {*/
/*  margin-left: 5px;*/
/*  margin-right: 5px;*/
/*}*/

.widget-esearch .tundra .dijitTab .tabLabel {

    font-size: smaller;
    min-height: 20px;
    margin-top: 5px;
}

#widgetOuter {
	position: absolute;
    width: 395px;
    height: 500px;
	/*height: 500px;*/
	/*width: 440px;*/
	left: 10px;
	font-family: arial;
	bottom: 5%;
	margin: 5px;
	padding: 5px;
	z-index: 40;
	background: #fff;
	color: #444;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;

	border-radius: 5px;
}

.widget-esearch .dijitTitleNode {
    width: 100%;
    height: 28px;
    margin-bottom: 2px;
    color: white;
    background: #1b365d;
    padding: 3px;
    padding-left: 6px;
    /*border-top-left-radius: 4px;*/
    /*border-top-right-radius: 4px;*/
}
.widget-esearch .dojoxFloatingPaneTitle {
    background: #cccccc;
    background: #fafafa repeat-x bottom left;
    border: 1px solid #bfbfbf;
    /*padding: 4px 4px 2px 4px;*/
    cursor: pointer;
    white-space: nowrap;
    padding: 0!important;
}
.widget-esearch .dojoxFloatingPaneContent {
    overflow: hidden;
}
.widget-esearch #widgetInner {
    /*width: 100%;*/
    /*height: 100%;*/
    margin-top: 3px;
    border-style: none;
    /*border-width: thin;*/
    /*border-color: rgb(204, 204, 204);*/
}

.widget-esearch #grids {
	overflow-y: scroll;
	/*height: 350px;*/
	width: 350px;
	border-bottom: 1px solid;
    font-size: 11px;
}

.widget-esearch #navActive{
    display: inline-block;
    float: left;
    padding-right: 15px;
    padding-left: 3px;
}

.widget-esearch #navDirection {
    font-size: 12px;
}
.widget-esearch #titlePane {
    width: 240px;
}
.widget-esearch #results_download_pane  {
    font-size: 11px;
}

.widget-esearch #results_download_pane .btn {
    padding: 2px;
    font-size: 12px;
}

.widget-esearch #divNavigationMessages {
    padding: 5px;
    font-size: 18px;
}

.widget-esearch #gridAttributeResults .dojoxGridCell {
    padding-top: 1px;
    padding-bottom: 1px;
}
.widget-esearch #gridNavResults  {
    margin-top: 4px;
}
.widget-esearch #gridNavResults .dojoxGridCell {
    padding-top: 1px;
    padding-bottom: 1px;
}

.widget-esearch #recomputeAggregate {
    padding: 2px 2px;
    display: inline-block;
    float: right;
    margin-top: -10px;
    margin-bottom: 8px;
    margin-right: 15px;
}

