.jimu-widget-timeslider-setting {
	font-family: 'Avenir Light';
	font-size: 12px;
	color: #000000;
}

.jimu-widget-timeslider-setting .clearFix {
	*overflow: hidden;
	*zoom: 1;
}
.jimu-widget-timeslider-setting .clearFix:after {
	display: table;
	content: "";
	width: 0;
	clear: both;
}

.jimu-widget-timeslider-setting .dijitFocusedLabel{
	outline: none;
}
.jimu-widget-timeslider-setting .dijitSelect:not(.dijitDisabled),
.timeslider-widget-setting-popup .dijitSelect:not(.dijitDisabled),
.timeslider-widget-setting-popup .dijitComboBox:not(.dijitDisabled) .dijitButtonNode{
	border-color: #cfcfcf;
	background-color: #fff;
}
.jimu-widget-timeslider-setting .dijitSelectFocused .dijitButtonContents,
.timeslider-widget-setting-popup .dijitSelectFocused .dijitButtonContents{
	border-color: #cfcfcf;
} 
.jimu-widget-timeslider-setting .dijitSelectHover .dijitButtonContents,
.timeslider-widget-setting-popup .dijitSelectHover .dijitButtonContents {
	border-color:#b5bcc7;
}
.jimu-widget-timeslider-setting .dijitSelect .dijitArrowButton,
.timeslider-widget-setting-popup .dijitSelect .dijitArrowButton{
	background-color: #fff;
	background-image: none;
}

.jimu-widget-timeslider-setting .hide,
.timeslider-widget-setting-popup .hide{
	display: none !important;
}

.jimu-widget-timeslider-setting .title {
	font-family: "Avenir Medium";
	font-size: 14px;
	margin-top: 30px;
	letter-spacing: 0.39px;
}

.jimu-widget-timeslider-setting .items{
	margin-top: 18px;
	margin-left: 8px;
}
.jimu-widget-timeslider-setting .date-time-format{
	margin-top: 20px;
}
.jimu-widget-timeslider-setting .date-time-format.tips{
	font-family: 'Avenir Medium';
	font-size: 12px;
	color: #000000;
	margin-bottom: 8px;
}
.jimu-widget-timeslider-setting .selector{
	margin-left: 8px;
	margin-bottom: 30px;
}
.jimu-widget-timeslider-setting .time-formats{
	margin-top: 8px;
}
.jimu-widget-timeslider-setting .time-formats .dijitSelect{
	width:220px;
	height:36px;
}

.jimu-widget-timeslider-setting .customdate-container{
	position: relative;
}
.jimu-widget-timeslider-setting .customdate-container .dijitTextBox {
	width:260px;
	height:36px;
	margin: 0 20px;
}
.jimu-widget-timeslider-setting .customdate-container .help-icon{
	height: 16px;
	width: 16px;
	background: url("images/help.svg") no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
	position: absolute;
	right: 35px;
	top: 11px;
}
.jimu-rtl .jimu-widget-timeslider-setting .customdate-container .help-icon{
	left: 35px;
	right: auto;
}
.jimu-widget-timeslider-setting .jimu-rtl .help-icon{
	right: auto;
	left: 32px;
}

/* auto refresh */
.jimu-widget-timeslider-setting .auto-refresh-container{
	margin-top: 30px;
}
.jimu-widget-timeslider-setting .auto-refresh-container .time-items {
	margin-left: 20px;
	margin-right: 0px;
}
.jimu-rtl .jimu-widget-timeslider-setting .auto-refresh-container .time-items {
	margin-left: 0px;
	margin-right: 20px;
}
.jimu-widget-timeslider-setting .auto-refresh-container .interval-tips{
	margin: 10px 0 5px 0;
}
.jimu-widget-timeslider-setting .auto-refresh-container .interval-number{
	width: 80px;
}
.jimu-widget-timeslider-setting .auto-refresh-container .interval-units{
	width: 85px;
	margin: 0 5px;
}

/* config timeBar */
.config-radio-container{
	display: flex;
	align-items: center;
	font-size: 14px;
	margin-top: 20px;
}

.jimu-widget-timeslider-setting .dijitRadio,
.jimu-widget-timeslider-setting .dijitRadioIcon{
	background-image: url(images/radiobutton.svg);
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
	height: 16px;
	margin: 0 2px 2px 0;
	padding: 0;
}
.jimu-widget-timeslider-setting .dijitRadioChecked{
	background-image: url(images/radiobutton_selected.svg);
}
.jimu-widget-timeslider-setting .time-setting-btn{
	width: 24px;
	height: 24px;
	margin: 0 10px;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid #CCCCCC;
}
.jimu-widget-timeslider-setting .time-setting-btn.disabled {
	background: #EEEEEE;
	cursor: default;
}
.jimu-widget-timeslider-setting .time-setting-icon{
	height: 25px;
	width: 25px;
	background: url(images/timesetting.svg) no-repeat center;
}
.disabled .time-setting-icon{
	background: url(images/timesetting_disabled.svg) no-repeat center;
}

/*time setting popup*/
.timeslider-widget-setting-popup{
	font-family: "Avenir Light";
	color: #000000;
	letter-spacing: 0.33px;
}
.timeslider-widget-setting-popup .config-time-setting{
	font-size: 12px;
}
.timeslider-widget-setting-popup .title{
	font-family: "Avenir Heavy";
	font-size: 14px;
	color: #000000;
	letter-spacing: 0.39px;
}

.timeslider-widget-setting-popup .layers-table-container {
	width: 100%;
	border-top: 1px solid #EEE;
	height: 170px !important;
	max-height: 170px;
	overflow: hidden;
}
.timeslider-widget-setting-popup .rows-container{
	height: 100%;
}
.timeslider-widget-setting-popup .layers-table-container .row {
  width: 100%;
  justify-content: center;
	border-bottom: 1px solid #EEE;
	height: 50px;
}
.timeslider-widget-setting-popup .layers-table-container .layer-name {
  /*justify-content: center;*/
	margin-top: 10px;
}
.timeslider-widget-setting-popup .layers-table-container .time-info {
	padding: 0 1.5rem;
	color: #999;
}

.timeslider-widget-setting-popup .time-config-container{
	margin-top: 25px;
	font-size: 12px;
}

.timeslider-widget-setting-popup .time-config-container .error-info{
	color: red;
	display: none;
}
.timeslider-widget-setting-popup .time-config-container.error .error-info{
	display: flex;
	align-items: center;
	margin-bottom: -10px;
}
.timeslider-widget-setting-popup .time-config-container .error-icon{
	height: 25px;
	width: 25px;
	background: url(images/warning.svg) no-repeat center;
}

.timeslider-widget-setting-popup .time-config-container .items{
	margin-top: 15px;
}

.timeslider-widget-setting-popup .time-config-container .time-tips{
	margin: 5px;
}
.timeslider-widget-setting-popup .time-config-container .calendar-inputs{
	margin: 0 5px;
}
.timeslider-widget-setting-popup .time-config-container .calendar-inputs.time-inputs{
	min-width: 140px;
}
.timeslider-widget-setting-popup .time-config-container .calendar-inputs .dijitButtonContents{
	min-width: 120px;
	max-width: 170px;
	overflow: hidden;
}
.timeslider-widget-setting-popup .time-config-container .calendar-operator{
	font-size: 14px;
	width: 60px;
}
.timeslider-widget-setting-popup .time-config-container .time-unit{
	display: inline-block;
	max-width: 150px;
	overflow: hidden;
	vertical-align: middle;
}
/*.timeslider-widget-setting-popup .time-config-container .time-selector {
	padding-right: 10px;
}*/
.timeslider-widget-setting-popup .time-config-container .time-span{
	margin-bottom: 30px;
}
.timeslider-widget-setting-popup .time-config-container .time-display{
	display: flex;
	align-items: center;
	margin-top: 10px;
}
.timeslider-widget-setting-popup .time-config-container .display-all{
	margin: 0 5px;
}
/*
.timeslider-widget-setting-popup .time-config-container .mode-selector{
	width:35px;
}
.timeslider-widget-setting-popup .time-config-container .time-date{
	width:190px;
}
.timeslider-widget-setting-popup .time-config-container .time-text{
	width:100px;
}
.timeslider-widget-setting-popup .time-config-container .calender-operator{
	width:100px;
}
.timeslider-widget-setting-popup .time-config-container .calender-number{
	width:85px;
}
.timeslider-widget-setting-popup .time-config-container .calender-unit{
	width:85px;
}*/