.jimu-widget-demo {
  
}
#title{
    font-weight: bold;
}
.nationalWarningText{
    font-size: smaller;
    display: none;
}

.color{
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.claro .dijitReset .dijitInputInner{
	height: 20px !important;
	line-height: 20px !important;
}