.esriLegendServiceLabel {
  font-size: 14px;
  display: none;
}
.esriLegendServiceLabel {
  font-size: 12px;
}
.esriLegendLayer{
  font-size: 12px;
}
.esriLegendService {
  padding-bottom: 0;
  padding-top: 0;
}