<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
        	<remove name="Python" />
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="D:\Public\Server\Apps\ArcGIS\Python27\ArcGIS10.5\python.exe %s %s" resourceType="Either" requireAccess="Execute" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="index.py" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
