<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\software\Bitnami\djangostack-1.11.1-1\python\python.exe %s %s" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="index.py" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
