<?xml version="1.0"?>
<configuration>
  <system.web>
  <httpRuntime requestValidationMode="2.0" />
  <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US"/>
  </system.web>
  
</configuration>

