<div class="secondary-pane add-file-pane">

  <div class="generalize-options">
    <div data-dojo-type="jimu/dijit/CheckBox"
      data-dojo-attach-point="generalizeCheckBox"
      data-dojo-props="checked:true">
    </div>
  </div>

  <div class="browse-or-drop">
    <div class="drop-container" data-dojo-attach-point="dropContainer">
      <div class="drop-area" data-dojo-attach-point="dropArea">
        <div class="supported-file-types" data-dojo-attach-point="supportedFileTypes"></div>
        <div class="or">${i18n.addFromFile.dropOrBrowse}</div>
        <form class="file-form" enctype="multipart/form-data" method="post"
          data-dojo-attach-point="fileForm">
          <label for="${id}_file" class="jimu-btn"
            data-dojo-attach-point="uploadLabel">${i18n.addFromFile.browse}</label>
          <input id="${id}_file" name="file" type="file" style="display:none"
            data-dojo-attach-point="fileNode" />
        </form>
        <a href="#" class="drop-area-hint" data-dojo-attach-point="hintButton">
          <i class="esri-icon-question"></i>
        </a>
        <span class="upload-arrow"></span>
      </div>
    </div>
  </div>
	<div data-dojo-attach-point="lNameFrame" id="lNameFrame" class="gap" style="display: none">
        <label for="${id}_name">${i18n.addFromUrl.name}</label>
        <div data-dojo-attach-point="customName" class="small-gap">
          <input id="${id}_name" type="text" class="url-textbox jimu-input"
                 data-dojo-attach-point="nameTextBox">
        </div>
        <div class="action-bar">
          <a class="jimu-btn"
              href="javascript:void(0)"
              data-dojo-attach-point="addButton"
              data-dojo-attach-event="onClick: addClicked"
              >${i18n.search.item.actions.add}
          </a>
      </div>       
    </div>
</div>
