<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="Python" />
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="D:\Public\Server\Apps\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\python.exe %s %s" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
