.jimu-widget-footer{
  height: 100%;
  overflow: hidden;
  margin-left: 0px;
  margin-top: 0;
  width: 100%;
  outline-offset: -2px !important;
}

.jimu-widget-footer .footer-widget-copyright{
  max-width: 800px;
  color:#fff;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
}
