div.jimu-widget-addwebmapdata.content-container {
    width: 100%;
    height: 100%;
    min-width: 300px;
    background-color: white;
}

.jimu-widget-addwebmapdata .help-text {
    padding: 4px;
    color: black;
    font-size: 14px;
}

.jimu-widget-addwebmapdata .tab-container {
    width: 100%;
    height: 100%;
}

div.jimu-widget-addwebmapdata > div.tab-container > div.jimu-tab3 {
    height: 100%;
}

div.jimu-widget-addwebmapdata .jimu-item-table .items-table-div {
    height: auto;
}

div.jimu-widget-addwebmapdata .jimu-item-table .item-info {
    left: 100px;
}

div.jimu-widget-addwebmapdata .jimu-item-table .item-thumbnail {
    width: 85px;
    height: 85px;
}

div.jimu-widget-addwebmapdata .jimu-item-table .item-name {
    font-weight: bold;
    font-size: 14px;
    height: 16px;
}

div.jimu-widget-addwebmapdata .jimu-item-table .item-snippet {
    overflow: hidden;
    margin-top: 5px;
    white-space: normal;
    height: 3em;
}

div.jimu-widget-addwebmapdata .jimu-item-table .item-snippet:before {
    content: "";
    float: left;
    width: 5px;
    height: 3em;
}
div.jimu-widget-addwebmapdata .jimu-item-table .item-snippet > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}
div.jimu-widget-addwebmapdata .jimu-item-table .item-snippet:after {
    content: "\02026";
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    float: right;
    position: relative;
    top: -1.5em;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
    background-size: 100% 100%;/* 512x1 image,gradient for IE9. Transparent at 0% -> white at 50% -> white at 100%.*/
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgAAAAABCAMAAACfZeZEAAAABGdBTUEAALGPC/xhBQAAAwBQTFRF////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////AAAA////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////wDWRdwAAAP90Uk5TgsRjMZXhS30YrvDUP3Emow1YibnM9+ggOZxrBtpRRo94gxItwLOoX/vsHdA2yGgL8+TdKUK8VFufmHSGgAQWJNc9tk+rb5KMCA8aM0iwpWV6dwP9+fXuFerm3yMs0jDOysY8wr5FTldeoWKabgEJ8RATG+IeIdsn2NUqLjQ3OgBDumC3SbRMsVKsValZplydZpZpbJOQco2KdYeEe36BDAL8/vgHBfr2CvTyDu8R7esU6RcZ5ecc4+Af3iLcJSjZ1ivT0S/PMs3LNck4x8U7wz7Bv0G9RLtHuEq1TbJQr1OtVqqnWqRdoqBhnmSbZ5mXapRtcJGOc4t2eYiFfH9AS7qYlgAAARlJREFUKM9jqK9fEGS7VNrDI2+F/nyB1Z4Fa5UKN4TbbeLY7FW0Tatkp3jp7mj7vXzl+4yrDsYoVx+JYz7mXXNSp/a0RN25JMcLPP8umzRcTZW77tNyk63tdprzXdmO+2ZdD9MFe56Y9z3LUG96mcX02n/CW71JH6Qmf8px/cw77ZvVzB+BCj8D5vxhn/vXZh6D4uzf1rN+Cc347j79q/zUL25TPrJMfG/5LvuNZP8rixeZz/mf+vU+Vut+5NL5gPOeb/sd1dZbTs03hBuvmV5JuaRyMfk849nEM7qnEk6IHI8/qn049hB35QGHiv0yZXuMdkXtYC3ebrglcqvYxoj1muvC1nDlrzJYGbpcdHHIMo2FwYv+j3QAAOBSfkZYITwUAAAAAElFTkSuQmCC);
    background: -webkit-gradient(linear,left top,right top,
        from(rgba(255,255,255,0)),to(white),color-stop(50%,white));
        background: -moz-linear-gradient(to right,rgba(255,255,255,0),white 50%,white);
        background: -o-linear-gradient(to right,rgba(255,255,255,0),white 50%,white);
        background: -ms-linear-gradient(to right,rgba(255,255,255,0),white 50%,white);
        background: linear-gradient(to right,rgba(255,255,255,0),white 50%,white);
    }

div.jimu-widget-addwebmapdata .jimu-item-table .item-date {
    margin-top: 5px;
}

div.jimu-widget-addwebmapdata .jimu-item-table .item-details {
    margin-top: 5px;
}

div.jimu-widget-addwebmapdata .jimu-item-table .items-table .item {
    position: relative;
    width: 100%;
    height: 95px;
}

div.jimu-widget-addwebmapdata .item {
    border: 1px solid #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

div.jimu-widget-addwebmapdata .item.jimu-state-active,
div.jimu-widget-addwebmapdata .item:hover {
    border: 1px solid #15a4fa;
    cursor: pointer;
    /*background-color: #15a4fa;
    color: white;*/
}

div.jimu-widget-addwebmapdata .sign-out-btn {
    font-weight: bold;
}

div.jimu-widget-addwebmapdata .sign-out-btn {
    font-weight: bold;
    color: #15a4fa;
    display: inline;
    margin-left: 10px;
}

div.jimu-widget-addwebmapdata .sign-out-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

div.jimu-widget-addwebmapdata .control-node {
    display: none;
}

div.jimu-widget-addwebmapdata > div.tab-container > div.jimu-tab3 > .container-node {
    top: 5px;
}

div.thumbnailDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}