<div tabIndex="0">
	<div data-dojo-attach-point="divAxisX" class="setting-item"></div>
	<div data-dojo-attach-point="divAxisY" class="setting-item"></div>
	<div data-dojo-attach-point="divLegend" class="setting-item"></div>
	<div data-dojo-attach-point="divPieLabel" class="setting-item"></div>
	<div>
		<div tabindex="0" aria-label="${nls.color}" class="color-tip">${nls.color}</div>
		<div data-dojo-attach-point="singleColorSection" class="single-color-section">
			<div data-dojo-attach-point="colorDiv" class="single-color-div"></div>
			<div data-dojo-attach-point="paletteContainer" class="palette-container"></div>
		</div>
		<div data-dojo-attach-point="multiColorSection" class="multi-color-section">
			<div class="colorful-section">
				<div data-dojo-attach-point="colorfulContainer"></div>
			</div>
			<div class="monochromatic-section">
				<div data-dojo-attach-point="monochromaticContainer"></div>
			</div>
		</div>
	</div>
	<div class="shelter" data-dojo-attach-point="shelter"></div>
</div>