<div>
	<div data-dojo-attach-point="contentSection" class="content-section">
		<div data-dojo-attach-point="desktopAddSection" class="desktop-add-section hidden">
			<div role="button" tabindex="0" data-dojo-attach-point="btnAddExpDesktop" class="add-with-icon add-expression jimu-float-leading jimu-state-disabled">
				<span class="jimu-icon jimu-icon-add"></span>
				<span class="add-label">${nls.addAnotherExpression}</span>
			</div>
			<div role="button" tabindex="0" data-dojo-attach-point="btnAddSetDesktop" class="add-with-icon add-set jimu-float-leading jimu-state-disabled">
				<span class="jimu-icon jimu-icon-add"></span>
				<span class="add-label">${nls.addSet}</span>
			</div>
		</div>
		<div data-dojo-attach-point="matchMsg" class="match-msg">
			<div data-dojo-attach-point="oneOrZeroMsg" tabindex="0" style="display:none;">${nls.oneOrZeroMsg}</div>
			<select data-dojo-attach-point="allAnySelect" data-dojo-type="jimu/dijit/formSelect" class="dijit-form-Select restrict-select-width" style="width:100%;height:30px;">
				<option value="AND" selected>${nls.matchMsgAll}</option>
				<option value="OR">${nls.matchMsgAny}</option>
			</select>
		</div>
		<div class="allExpsBox" data-dojo-attach-point="allExpsBox">
		</div>
	</div>
	<div data-dojo-attach-point="errorSection" class="hidden">
		<span class="jimu-icon jimu-icon-error"></span>
		<span data-dojo-attach-point="errorTip" class="error-tip"></span>
	</div>
	<div data-dojo-attach-point="mobileAddSection" class="mobile-add-section hidden">
		<div role="button" tabindex="0" title="${nls.addAnotherExpression}" class="jimu-btn jimu-btn-vacation jimu-float-leading jimu-state-disabled" data-dojo-attach-point="btnAddExpMobile">
			+ ${nls.addAnotherExpression}
		</div>
		<div role="button" tabindex="0" title="${nls.addSet}" class="jimu-btn jimu-btn-vacation jimu-float-leading jimu-state-disabled" data-dojo-attach-point="btnAddSetMobile">
			+ ${nls.addSet}
		</div>
	</div>
	<div data-dojo-attach-point="noFilterTipSection" class="no-filter-tip hidden" tabindex="0"></div>
	<div data-dojo-attach-point="loading" data-dojo-type="jimu/dijit/LoadingIndicator" data-dojo-props="hidden:true"></div>
</div>