
#navlistSearchfilter {
    position: relative;
}
#navlistSearchfilter li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
}

#navlistSearchfilter li, #navlistSearchfilter a {
    height: 18px;
    width: 18px;
    display: block;
}

/* biodiversity conservation */
#biod_bw {background: url('../images/bc_icons.png') 0 0;}
#biod {background: url('../images/bc_icons.png') -20px 0px;}
#biod a:hover {background: url('../images/bc_icons.png') -80px 0px;}
/* clean air */
#cair_bw {background: url('../images/bc_icons.png') 0px -20px;}
#cair {background: url('../images/bc_icons.png') -20px -20px;}
#cair a:hover {background: url('../images/bc_icons.png') -40px -20px;}
/* clean and plentiful water */
#cpw_bw {background: url('../images/bc_icons.png') 0px -40px;}
#cpw {background: url('../images/bc_icons.png') -20px -40px;}
#cpw a:hover {background: url('../images/bc_icons.png') -40px -40px;}
/* climate stabilization */
#clim_bw {background: url('../images/bc_icons.png') 0px -60px;}
#clim {background: url('../images/bc_icons.png') -20px -60px;}
#clim a:hover {background: url('../images/bc_icons.png') -40px -60px;}
/* food, fuel, and materials */
#ffm_bw {background: url('../images/bc_icons.png') 0px -80px;}
#ffm {background: url('../images/bc_icons.png') -20px -80px;}
#ffm a:hover {background: url('../images/bc_icons.png') -40px -80px;}
/* natural hazard mitigation */
#nhm_bw {background: url('../images/bc_icons.png') 0px -100px;}
#nhm {background: url('../images/bc_icons.png') -20px -100px;}
#nhm a:hover {background: url('../images/bc_icons.png') -40px -100px;}
/* recreation, culture, and aesthetics */
#rca_bw {background: url('../images/bc_icons.png') 0px -120px;}
#rca {background: url('../images/bc_icons.png') -20px -120px;}
#rca a:hover {background: url('../images/bc_icons.png') -40px -120px;}
/* people and built spaces */
#pbs_bw {background: url('../images/bc_icons.png') 0px -140px;}
#pbs {background: url('../images/bc_icons.png') -20px -140px;}
#pbs a:hover {background: url('../images/bc_icons.png') -40px -140px;}
/* supplemental */
#sup_bw {background: url('../images/bc_icons.png') 0px -160px;}
#sup {background: url('../images/bc_icons.png') -20px -160px;}
#sup a:hover {background: url('../images/bc_icons.png') -40px -160px;}

/*  ==========================================================*/
/* biodiversity conservation */
#biod_bw {background: url('../images/bc_icons.png') 0 0;}
#biod {background: url('../images/bc_icons.png') -20px 0px;}
#biod a:hover {background: url('../images/bc_icons.png') -80px 0px;}
/*===================================*/
#navlistSearchfilter2 {
    position: relative;
}
#navlistSearchfilter2 li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
}
#navlistSearchfilter2 li, #navlistSearchfilter2 a {
    height: 18px;
    width: 18px;
    display: block;
}
/* clean air */
#cair2 {background: url('../images/bc_icons.png') -20px -20px;}
#cpw2 {background: url('../images/bc_icons.png') -20px -40px;}
#clim2 {background: url('../images/bc_icons.png') -20px -60px;}
#ffm2 {background: url('../images/bc_icons.png') -20px -80px;}
#nhm2 {background: url('../images/bc_icons.png') -20px -100px;}
#rca2 {background: url('../images/bc_icons.png') -20px -120px;}
#pbs2 {background: url('../images/bc_icons.png') -20px -140px;}
#sup2 {background: url('../images/bc_icons.png') -20px -160px;}
#biod2 {background: url('../images/bc_icons.png') -20px 0px;}
/* ============================================================
  COMMON for toggle
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input.cmn-toggle-round-flat + label {
  padding: 1px;
  width: 26px;
  height: 13px;
  background-color: #dddddd;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background-color: #fff;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}
input.cmn-toggle-round-flat + label:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 11px;
  background-color: #dddddd;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-transition: margin 0.4s, background 0.6s;
  -moz-transition: margin 0.4s, background 0.6s;
  -o-transition: margin 0.4s, background 0.6s;
  transition: margin 0.4s, background 0.6s;
}
input.cmn-toggle-round-flat:checked + label:before{
  background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 11px;
}
.cmn-toggle-inLineBlock {
	display: inline-block;
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle-inLineBlock + label {
  white-space: nowrap ;
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input.cmn-toggle-inLineBlock-round-flat + label {
  white-space: nowrap ;
  padding: 1px;
  width: 26px;
  height: 13px;
  background-color: #dddddd;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}
input.cmn-toggle-inLineBlock-round-flat + label:before, input.cmn-toggle-inLineBlock-round-flat + label:after {
  position: absolute;
  content: "";
}
input.cmn-toggle-inLineBlock-round-flat + label:before {
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background-color: #fff;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}
input.cmn-toggle-inLineBlock-round-flat + label:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 11px;
  background-color: #dddddd;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-transition: margin 0.4s, background 0.6s;
  -moz-transition: margin 0.4s, background 0.6s;
  -o-transition: margin 0.4s, background 0.6s;
  transition: margin 0.4s, background 0.6s;
}
input.cmn-toggle-inLineBlock-round-flat:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-inLineBlock-round-flat:checked + label:after {
  margin-left: 11px;
}
#navlistSupplyDemand {
    position: relative;
    left: -50px;
}
#navlistSupplyDemand li {
	display: inline-block;
	list-style-type: none;
	padding-right: 36px;
}
/*for collapsible benefit category selection*/
.FAQ {
    vertical-align: bottom;
}
.list {
    /*display:none; */
    height:auto;
    margin:0;
    /*float: left;*/
}
.show {
    display: none;
}
.hide:target + .show {
    display: inline;
}
.hide:target {
    display: none;
}
.hide:target ~ .list {
    display:inline;
}
<<<<<<< HEAD

/*Reduce the padding */
#widgets_SimpleSearchFilter_Widget_37_panel .jimu-widget-frame .jimu-container{
    padding: 0px;
}
=======
/*style the (+) and (-) */
.jimu-widget-simplesearchfilter.hide, .jimu-widget-simplesearchfilter.show {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	font-size: 15px;
	color: #fff;
	text-shadow: 0 1px 0 #666;
    text-align: center;
	text-decoration: none;
	box-shadow: 1px 1px 0px #000;
	background: #cccbbb;
	opacity: .95;
	margin-right: 0;
	float: left;
	margin-bottom:5px;
}
.jimu-widget-simplesearchfilter.hide:hover, .jimu-widget-simplesearchfilter.show:hover {
	color: #eee;
	text-shadow: 0 0 1px #666;
	text-decoration: none;
	box-shadow: 0 0 4px #222 inset;
	opacity: 1;
	margin-bottom: 5px;
}
.list p{
    height:auto;
    margin:0;
}
.question {
	float: left;
	height: auto;
	width: 90%;
	line-height: 15px;
	padding-left: 20px;
	margin-bottom: 5px;
}
>>>>>>> origin/master
