/*.esriPopup .action.zoomTo { display: none; }*/
#navlistSearchfilter {
    position: relative;
}
#navlistSearchfilter li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
}

#navlistSearchfilter li, #navlistSearchfilter a {
    height: 20px;
    width: 20px;
    display: block;
}


/* biodiversity conservation */
.biod_bw {background: url('../images/ES_Icons/bio_bw.png');
          background-size: cover;}
.biod {background: url('../images/ES_Icons/bio.png');
          background-size: cover;}
.biod_infographic {background: url('../images/bc_infographics/biod.png') no-repeat;}

/* clean air */
.cair_bw {background: url('../images/ES_Icons/air_bw.png');
          background-size: cover;}
.cair {background: url('../images/ES_Icons/air.png');
          background-size: cover;}
.cair_infographic {background: url('../images/bc_infographics/cair.png') no-repeat;}

/* clean and plentiful water */
.cpw_bw {background: url('../images/ES_Icons/water_bw.png');
          background-size: cover;}
.cpw {background: url('../images/ES_Icons/water.png');
          background-size: cover;}
.cpw_infographic {background: url('../images/bc_infographics/cpw.png') no-repeat;}

/* climate stabilization */
.clim_bw {background: url('../images/ES_Icons/clim_bw.png');
          background-size: cover;}
.clim {background: url('../images/ES_Icons/clim.png');
          background-size: cover;}
.clim_infographic {background: url('../images/bc_infographics/clim.png') no-repeat;}

/* food, fuel, and materials */
.ffm_bw {background: url('../images/ES_Icons/food_bw.png');
          background-size: cover;}
.ffm {background: url('../images/ES_Icons/food.png');
          background-size: cover;}
.ffm_infographic {background: url('../images/bc_infographics/ffm.png') no-repeat;}

/* natural hazard mitigation */
.nhm_bw {background: url('../images/ES_Icons/haz_bw.png');
          background-size: cover;}
.nhm {background: url('../images/ES_Icons/haz.png');
          background-size: cover;}
.nhm_infographic {background: url('../images/bc_infographics/nhm.png') no-repeat;}

/* recreation, culture, and aesthetics */
.rca_bw {background: url('../images/ES_Icons/rec_bw.png');
          background-size: cover;}
.rca {background: url('../images/ES_Icons/rec.png');
          background-size: cover;}
.rca_infographic {background: url('../images/bc_infographics/rca.png') no-repeat;}

.NATIONAL {background: url('../images/ES_Icons/nat.png');
          background-size: cover;}

.COMMUNITY {background: url('../images/ES_Icons/comm.png');
          background-size: cover;}


.bc_popup {
  width: 25px;
  height: 25px;
  border: none;
  display: inline-block;
  margin: 0px 5px 0px 5px;
}

.bc_popup:hover {
  cursor: pointer;
}

.bc_popup_selected{
  box-shadow: -1px 6px 10px 1px #333;
}

.bc_infographic{
  height: 450px;
  background-size: 100% 100%;
}

.bc_popup_header_icon {
  height:35px; 
  width:35px; 
  float: left; 
  position: relative; 
  top: 5px; 
  left:10px;
}

.bc_popup_header_text {
  font-size: 18px; 
  font-weight: bold; 
  height: 40px; 
  display: table-cell; 
  vertical-align:middle; 
  position: relative; 
  left: 20px
}


#navlistSearchfilter2 {
    position: relative;
}
#navlistSearchfilter2 li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
}
#navlistSearchfilter2 li, #navlistSearchfilter2 a {
    height: 18px;
    width: 18px;
    display: block;
}
/* clean air */
#cair2 {background: url('../images/bc_icons.png') -20px -20px;}
#cpw2 {background: url('../images/bc_icons.png') -20px -40px;}
#clim2 {background: url('../images/bc_icons.png') -20px -60px;}
#ffm2 {background: url('../images/bc_icons.png') -20px -80px;}
#nhm2 {background: url('../images/bc_icons.png') -20px -100px;}
#rca2 {background: url('../images/bc_icons.png') -20px -120px;}
#pbs2 {background: url('../images/bc_icons.png') -20px -140px;}
#sup2 {background: url('../images/bc_icons.png') -20px -160px;}
#biod2 {background: url('../images/bc_icons.png') -20px 0px;}
/* ============================================================
  COMMON for toggle
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input.cmn-toggle-round-flat + label {
  padding: 1px;
  width: 26px;
  height: 13px;
  background-color: #26A146;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}
input.cmn-toggle-round-flat-grayedout + label {
  padding: 1px;
  width: 26px;
  height: 13px;
  background-color: #e1e1e1;/*#7D7D7D  #FBFBFB*/
  border-color: 
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #d8d8d8;
  border: 1px solid #00436f;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}
input.cmn-toggle-round-flat + label:after {
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 12px;
  background-color: white;
  border: 1px solid #00436f;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13x;
  border-radius: 13px;
  -webkit-transition: margin 0.4s, background 0.6s;
  -moz-transition: margin 0.4s, background 0.6s;
  -o-transition: margin 0.4s, background 0.6s;
  transition: margin 0.4s, background 0.6s;
}
input.cmn-toggle-round-flat:checked + label:before{
  background-color: #00436f;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 13px;
}

/*for grayed out*/
input.cmn-toggle-round-flat-grayedout + label:before, input.cmn-toggle-round-flat-grayedout + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat-grayedout + label:before {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #eaeaea;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}
input.cmn-toggle-round-flat-grayedout + label:after {
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 12px;
  background-color: white;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: margin 0.4s, background 0.6s;
  -moz-transition: margin 0.4s, background 0.6s;
  -o-transition: margin 0.4s, background 0.6s;
  transition: margin 0.4s, background 0.6s;
}
/*input.cmn-toggle-round-flat-grayedout:checked + label:before{
  background-color: #8ce196;
}
input.cmn-toggle-round-flat-grayedout:checked + label:after {
  margin-left: 11px;
}*/

#navlistSupplyDemand li {
	display: inline-block;
	list-style-type: none;
	padding-right: 36px;
}
/*for collapsible benefit category selection*/
.FAQ {
    vertical-align: bottom;
}
.list {
    /*display:none; */
    height:auto;
    margin:0;
    /*float: left;*/
}
.show {
    display: none;
}
.hide:target + .show {
    display: inline;
}
.hide:target {
    display: none;
}
.hide:target ~ .list {
    display:inline;
}

/*Reduce the padding */
#widgets_SimpleSearchFilter_Widget_37_panel .jimu-widget-frame .jimu-container{
    padding: 0px;
}
/*style the (+) and (-) */
.jimu-widget-simplesearchfilter.hide, .jimu-widget-simplesearchfilter.show {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	font-size: 15px;
	color: #fff;
	text-shadow: 0 1px 0 #666;
    text-align: center;
	text-decoration: none;
	box-shadow: 1px 1px 0px #000;
	background: #cccbbb;
	opacity: .95;
	margin-right: 0;
	float: left;
	margin-bottom:5px;
}
.jimu-widget-simplesearchfilter.hide:hover, .jimu-widget-simplesearchfilter.show:hover {
	color: #eee;
	text-shadow: 0 0 1px #666;
	text-decoration: none;
	box-shadow: 0 0 4px #222 inset;
	opacity: 1;
	margin-bottom: 5px;
}
.list p{
    height:auto;
    margin:0;
}
.question {
	float: left;
	height: auto;
	width: 90%;
	line-height: 15px;
	padding-left: 20px;
	margin-bottom: 5px;
}

.topicTable {
  margin: 0px;
  float: left; 
  width: 50%; 
  display:inline-block;
}

.claro .dijitContentPane{
  padding: 2px;
}

.claro .dijitTitlePaneContentInner {
  padding: 2px;
  background-color: #f4f4f4;
  /*border: 2px solid #d4d8da;*/

}
.claro .dijitTitlePaneContentOuter {
  border: None;
}

.claro .dijitTitlePaneTitleOpen {
  background-color: #7f9eb4;
}

.claro .dijitTitlePaneTitleHover {
  background-color: #808A92;
}

.claro .dijitTitlePaneTitle {
  background-color: #7f9eb4;
}

.header {
  text-align: center;
  z-index: 1;
}

a.esIcons {
  text-decoration: none;
}

.topicHeader {
  padding-bottom: 3px;
  font-size: 16px;
  font-weight: bold;
  background-color: #c3c3c3;
  margin-bottom: 3px;
}

.topicHeader:hover {
  background-color: #929292;
  cursor: pointer;
}

.topicTitleGray {
  color: #969696;
}

.checkbox_cell {
  width: 15px;
  height: auto;
  vertical-align: top;
  float: left;
}

.layerDiv {
  margin-bottom: 10px;
} 

.factsheetLink {
  text-decoration: none; 
  background-color: #197ec0; 
  color: #e0e0e0; 
  padding: 4px; 
  border-radius: 4px; 
}
