
/*Reduce the padding */
#widgets_PeopleAndBuildSpaces_Widget_panel .jimu-widget-frame .jimu-container{
    padding: 0px;
}

/* ============================================================
  COMMON for toggle
============================================================ */
.cmn-toggle-PBS {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle-PBS + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input.cmn-toggle-PBS-round-flat + label {
  padding: 1px;
  width: 26px;
  height: 13px;
  background-color: #26A146;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}
input.cmn-toggle-PBS-round-flat-grayedout + label {
  padding: 1px;
  width: 26px;
  height: 13px;
  background-color: #e1e1e1;/*#7D7D7D  #FBFBFB*/
  border-color: 
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}
input.cmn-toggle-PBS-round-flat + label:before, input.cmn-toggle-PBS-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-PBS-round-flat + label:before {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #d8d8d8;
  border: 1px solid #00436f;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}
input.cmn-toggle-PBS-round-flat + label:after {
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 12px;
  background-color: white;
  border: 1px solid #00436f;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13x;
  border-radius: 13px;
  -webkit-transition: margin 0.4s, background 0.6s;
  -moz-transition: margin 0.4s, background 0.6s;
  -o-transition: margin 0.4s, background 0.6s;
  transition: margin 0.4s, background 0.6s;
}
input.cmn-toggle-PBS-round-flat:checked + label:before{
  background-color: #00436f;
}
input.cmn-toggle-PBS-round-flat:checked + label:after {
  margin-left: 13px;
}

/*for grayed out*/
input.cmn-toggle-PBS-round-flat-grayedout + label:before, input.cmn-toggle-PBS-round-flat-grayedout + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-PBS-round-flat-grayedout + label:before {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #eaeaea;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}
input.cmn-toggle-PBS-round-flat-grayedout + label:after {
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 12px;
  background-color: white;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: margin 0.4s, background 0.6s;
  -moz-transition: margin 0.4s, background 0.6s;
  -o-transition: margin 0.4s, background 0.6s;
  transition: margin 0.4s, background 0.6s;
}
