form.frmStyle1 fieldset {
	padding: 0.5em;
	font-family: Tahoma, MS Sans Serif, Verdana, Arial,Times New Roman;
	/*font:100%/1 sans-serif;*/
	}
form.frmStyle1 label {
	float:none;
	margin-right:0.5em;
	padding-top:0.2em;
	text-align:left;
	font-weight:normal;
	font-size: 100%;
	}

form.frmStyle2 fieldset {
	border:1px solid #999;
	padding: 1em 0.5em 1em 0.5em;
	font-weight: normal;
	}
form.frmStyle2 legend {
	padding: 2px 2px 2px 2px;
	border:1px solid #999;
	color:#666;
	font-size:11px;
	font-weight:bold;
	text-align:left;
	}

.toggle {
	background : url(../images/plus.gif) no-repeat;
	text-decoration: none!important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px none #999999;
	font-style: normal;
	color: #003366;
	font-weight: normal;
}
.toggleOff {
	background : url(../images/minus.gif) no-repeat;
	text-decoration: none!important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px none #999999;
	font-style: normal;
	color: #003366;
	font-weight: normal;
}